
.mtop-2{
    margin-top: 2rem!important;
}
table{
    .form-control{
        width: 40% !important;
        margin: auto;
    }
    th{
        text-align: center;
    }
    td{
        text-align: center;
    }
}