.ro-verification{
  padding: 20px;
  width: 100%;
}
.deviation-width{
  width: 50%;
}
.ro-btn{
  background-color: lightgrey;
  border-radius: 25px;
}

.ro-ver-heading{
  padding: 10px;
  background-color: #2196F3;
}

.mat-radio-button{
  padding-right: 52px
}

.agency-name{
  width: 50%;
  float: left;
}
.agency-user{
  width: 50%;
  float: right;
}
.agency-email{
  width: 50%;
  float: left;
}
.agency-number{
  width: 50%;
  float: right;
}
.decision-date{
  width: 50%;
  float: left;
}
.decision-report{
  width: 50%;
  float: right;
}

.update-decision-heading{
  padding-bottom: 10px;
  font-size: 20px;
}

.remarks{
  padding-top: 20px;
  padding-bottom: 20px;
}

.ro-width{
  width: 40%;
}
.ro-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.remarks-box{
  width: 260px;
  height: 85px;
}

.button {
    margin-top: 10px;
    }
table {
  width: 100%;
}
.table-border td, table-border th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.table-border th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: aliceblue;
  color: black;
  border: 1px solid #ddd;
  padding: 8px;
}
.agencyName{
  width: 50%;
  float: left;
}

.decision{
  width: 204px;
}

.appr-date{
  width: 50%;
  float: left;
}

.pfid{
  float: right;
  width: 50%;
}
.decision-date{
  width: 50%;
  float: left;
}
.agency-email{
  width: 50%;
  float: right;
}
.cancel-btn{
  border-radius: 25px;
  float: right;
  margin-right: 10px;

}
.save-btn{
  background-color: #2196F3;
  border-radius: 25px;
  color: white;
  float: right;
}
.mat-tab-labels {
  .mat-tab-label {
    flex: 1 !important;
  }
}
      