<div class="ro-ver-heading"><span>RO Verification</span></div>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Initiate RO Verification">
    <div class="ro-verification">
      <div class="entity">
        <div>
          <mat-label class="mb-2"><b>Select Entity Type</b></mat-label>
        </div>
        <mat-radio-group aria-label="Select Entity Type" [(ngModel)]="entityType">
          <mat-radio-button value="bankOfficer">Bank Officer</mat-radio-button>
          <mat-radio-button value="thirdParty">Third Party Agency</mat-radio-button>
        </mat-radio-group>
      </div>


      <div *ngIf="entityType == 'bankOfficer'">
        <form [formGroup]="roVerificationBankOfficerForm"
          (ngSubmit)="onSubmitBankOfficer(roVerificationBankOfficerForm)">
          <div>
            <mat-form-field class="deviation-full-width mt-2">
              <mat-label>PF ID</mat-label>
              <input matInput placeholder="Enter PF ID" formControlName="pfId" [(ngModel)]="pfId"
                (keyup)="showProfile()">
            </mat-form-field>
            <div *ngIf="showUserProfile">
              <table mat-table [dataSource]="dataSource" class="table-border">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Officer Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="num">
                  <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                  <td mat-cell *matCellDef="let element"> {{element.num}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
          <div class="remarks">
            <div><span>Remarks:</span></div>
            <textarea type="text" formControlName="remarks" placeholder="Enter Remarks, if any"
              class="remarks-box"></textarea>
          </div>
          <div class="button">
            <button mat-button class="ro-btn" (click)="showDownload()">Generate Ro Verification Form</button>
          </div>

          <div class="button" *ngIf="showDownloadButton">
            <button mat-button class="ro-btn">Download Ro Verification Report</button>
          </div>
        </form>
      </div>

      <div *ngIf="entityType=='thirdParty'">
        <form [formGroup]="roVerificationThirdPartyForm" autocomplete="off" (ngSubmit)="onSubmitThirdParty(roVerificationThirdPartyForm)">
          <div class="agency-name mb-2">
            <mat-form-field class="deviation-width">
              <mat-label>Agency Name</mat-label>
              <input matInput placeholder="Enter Agency Name" formControlName="agencyName" [(ngModel)]="agencyName"
                (keyup)="selectAgencyName()">
            </mat-form-field>
          </div>

          <div class="agency-user mb-2">
            <mat-form-field class="deviation-width">
              <mat-label>Agency User Name</mat-label>
              <input matInput placeholder="Enter Agency User Name" formControlName="agencyUserName"
                [(ngModel)]="agencyUserName">
            </mat-form-field>
          </div>

          <div class="agency-number mb-2">
            <mat-form-field class="deviation-width">
              <mat-label>Agency Mobile No.</mat-label>
              <input matInput placeholder="Enter Mobile No." formControlName="agencyMobile" [(ngModel)]="agencyMobile">
            </mat-form-field>
          </div>

            <div class="agency-email mb-2">
            <mat-form-field class="deviation-width">
              <mat-label>Agency Email</mat-label>
              <input matInput placeholder="Enter Email ID" formControlName="agencyEmail" [(ngModel)]="agencyEmail">
            </mat-form-field>
          </div>

          <div class="remarks">
            <div><span>Remarks:</span></div>
            <textarea type="text" formControlName="remarks" placeholder="Enter Remarks, if any"
              class="remarks-box"></textarea>
          </div>

          <div class="button">
            <button mat-button class="ro-btn" (click)="showDownload2()">Generate Ro Verification Form</button>
          </div>

          <div class="button" *ngIf="showDownloadButton2">
            <button mat-button class="ro-btn">Download Ro Verification Report</button>
          </div>
        </form>
      </div>

      <div class="button-done">
        <button mat-button class="save-btn">Done</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Update Decision of RO Verification">
    <div class="ro-verification">
      <div class="update-decision-heading"><span>Enter details of the action taken on the Residence and Office (RO)
          report</span></div>
      <div>RO Verification Conducted by {{pfId}} - {{username}}</div>
      <form [formGroup]="roUpdateForm" autocomplete="off" (ngSubmit)="onSubmitUpdate(roUpdateForm)">
        <div class="decision-date mb-5 mt-3">
          <mat-form-field class="deviation-width">
            <mat-label>Date of Decision</mat-label>
            <mat-hint>(On which day the approval/rejection happened)</mat-hint>
            <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="approveRejectDate"
              (selectionChange)="updateDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="decision-report mb-5 mt-3">
          <mat-form-field class="decision deviation-width">
            <mat-label>Decision Taken on Report</mat-label>
            <mat-select formControlName="reportDecision" (selectionChange)="changeDecision($event)">
              <mat-option value="satisactory">Satisactory</mat-option>
              <mat-option value="dissatisfactory">Dissatisfactory</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="remarks">
          <div><span>Remarks:</span></div>
          <textarea type="text" formControlName="remarks" placeholder="Enter Remarks, if any"
            class="remarks-box"></textarea>
        </div>
        <hr>

        <div class="button">
          <button mat-button class="save-btn">Save</button>

          <button mat-button type="reset" class="cancel-btn" (click)="closeDialog()">Cancel</button>
        </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>